*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: rgb(14, 13, 13)
} 
.main__content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 100px 20px #CB54F2;
}
.header {
  display: flex;
  justify-content: space-around;
  height: 100%;
  min-height: 100px;
  background: linear-gradient(0deg, #b315e8 -65.31%, #000000 50%);
}
.nav__logo-title {
  margin: 25px 0 0 0;
  height: 100%;
  max-height: 6rem;
  width: 50%;
}

.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 34.75rem;
}
.header__nav-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__nav-item-txt {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.header__nav-item-txt:hover {
  background: linear-gradient(
    113.79deg,
    #b315e8 16.71%,
    #8ae0e6 63.89%,
    #7fe3af 110.7%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*============================================= Block #2 Scool ===============================*/

.ambassadors__scool {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: url(../img/amb__scool/scool_bg.jpg) right/100% no-repeat;
}
.ambassadors__scool-block-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
  width: 45%;
}
.ambassadors__scool-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ambassadors__scool-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 29.0625rem;
  margin: 0 20px 40px 0;
}
.ambassadors__scool-info-txt {
  font-family: "Manrope";
  font-size: 2rem;
  line-height: 44px;
  color: rgb(232, 237, 240);
}
.ambassadors__scool-clic {
  margin: 0 180px 20px 0;
}
.ambassadors__scool-btm {
  width: 218px;
  height: 2.5rem;
  background: rgba(21, 156, 232, 1);
  border-radius: 0.3125rem;
  font-family: "Manrope";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6875rem;
  color: rgb(232, 237, 240);
}
.ambassadors__scool-btm:hover {
  background: rgba(179, 21, 232, 1);
  color: white;
  transition-duration: 1s;
}

/*============================================= Block #3 Programm ===============================*/
.programm {
  /* width: 100%; */
  min-height: 100vh;
  background: url(../img/programm/programm_bg.jpg) repeat repeat;
}
.programm__left-right-info {
  display: flex;
  justify-content: space-between;
  min-height: 25rem;
  margin: 3px 0 0 130px;
}
.programm__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.programm__name {
  font-family: "Manrope";
  font-style: normal;
  font-size: 64px;
  line-height: 87px;
  color: rgb(232, 237, 240);
}
.programm__imgPeopl {
  width: 100%;
  max-width: 21.1875rem;
}

.programm__left {
  display: flex;
}
.programm__img {
  width: 100%;
}
.programm__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.programm__right-card {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 45% 45% 45%;
  grid-gap: 10px;
  width: 100%;
}
.programm__right-card-private {
  display: flex;
}
.programm__right-private-photo {
  width: 53px;
  height: 53px;
}
.programm__right-card-firstName {
  display: flex;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
.programm__right-card-txt {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}
/* table */
.comparsion-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 87rem;
  background: rgb(23, 49, 83);
  margin: 30px auto;
}

/* Каждой 2, 4 и 6 ячейке в строке задаю свой фон */
.comparsion-table td:nth-child(2),
.comparsion-table th:nth-child(2) {
  background: #32abb4;
}
.comparsion-table td:nth-child(4),
.comparsion-table th:nth-child(4) {
  background: #3096cf;
}
.comparsion-table td:nth-child(6),
.comparsion-table th:nth-child(6) {
  background: #6154f2;
}

/* задаю ширину пустой ячейки */
.comparsion-table__empty-cell {
  width: 36px;
}

.comparsion-table__head-cell {
  font-family: "Manrope";
  font-size: 40px;
  line-height: 50px;
  color: rgba(255, 255, 255, 1);
  display: block;
  padding: 0 15rem 0 0;
}
.comparsion-table__head-cell-name {
  text-align: center;
  background: url(../img/programm/basic__bg.svg) no-repeat 100%;
  color: rgba(255, 255, 255, 1);
  font-family: "Manrope";
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  width: 11.5rem;
  text-transform: uppercase;
}
.comparsion-table__head-cell-nameA {
  color: rgba(255, 255, 255, 1);
  font-family: "Manrope";
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  width: 11.5rem;
}
.comparsion-table__head-cell-nameP {
  color: rgba(255, 255, 255, 1);
  font-family: "Manrope";
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  width: 11.5rem;
}
/* .comparsion-table__grey{
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
} */
/* .comparsion-table__grey td:nth-child(2n+1){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
} */

/* каждой нечетной строке в tbody задаю псевдоэлемент after,
 растягиваю его на всю строку через позиционирование 
 и задаю ему полупрозрачный белый фон  */

.comparsion-table__body tr:nth-child(odd) {
  position: relative;
}

.comparsion-table__body tr:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25)
  );
}

.comparsion-table__body-cell_name-nameProgramm {
  padding: 10px 0 10px 50px;
  margin: 0 auto;
  font-family: "Manrope";
  font-size: 22px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}
.comparsion-table__body-cell-cell_checked {
  background: url(../img/crest.svg) no-repeat 50%;
}

.comparsion-table__body-cell-first__colon {
  text-align: center;
}
.comparsion-table__body-cell-crest {
  text-align: center;
}

.double__btm {
  display: flex;
  justify-content: space-between;
}
.comparsion-table__footer-btmLeft {
  width: 220px;
  height: 40px;
  background: rgba(203, 84, 242, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 5px 0 0 0;
  cursor: pointer;
  font-family: "Manrope";
  font-size: 20px;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
}
.comparsion-table__footer-btmRight {
  font-family: "Manrope";
  font-size: 15px;
  line-height: 20px;
  color: rgba(21, 156, 232, 1);
  padding: 10px 0 0 5px;
  width: 220px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.spanImg {
  margin: -5px 0 0 0;
}
.comparsion-table__footer-bas {
  font-family: "Manrope";
  font-style: normal;
  font-size: 36px;
  line-height: 49px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.comparsion-table__footer-bas-sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope";
  font-size: 36px;
  line-height: 49px;
  color: rgb(252, 249, 249);
}
.sale {
  font-family: "Manrope";
  font-size: 20px;
  line-height: 27px;
}
.sale_polosa {
  border: 1px solid #ff00ff;
  transform: rotate(-15deg);
  position: absolute;
  width: 60px;
  margin: 50px 0 0 0;
}
.comparsion-table__footer-bas-saleTwo {
  font-family: "Manrope";
  font-size: 36px;
  line-height: 49px;
  color: rgb(252, 249, 249);
  text-align: center;
}
.saleTwo {
  display: flex;
  font-family: "Manrope";
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 0 50px;
}
.sale_polosaTwo {
  border: 1px solid #ff00ff;
  transform: rotate(-15deg);
  position: absolute;
  width: 3.75rem;
  margin: -0.9375rem 0 0 2.6875rem;
}
.double__btm {
  width: 500px;
  margin: 0 0 0 3.125rem;
}

/*=================Mentors==============*/
.mentors {
  width: 100%;
  min-height: 100vh;
}

.mentors__name {
  width: 100%;
  max-width: 37.5rem;
}
.mentors__name-first {
  font-family: "Manrope";
  font-size: 64px;
  line-height: 87px;
  color: rgba(255, 255, 255, 1);
  margin: 0 0 0 7.875rem;
}
.metnors__card-all {
  width: 100%;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.125rem 0 0 6.9375rem;
}
.mentors__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  min-height: 420px;
  width: 100%;
  max-width: 12.5rem;
}
.mentors__card-photo {
  width: 100%;
  max-width: 10rem;
  height: 100%;
  max-height: 12.3125rem;
}
.mentors__card-name {
  font-family: "Manrope";
  width: 100%;
  max-width: 224px;
  font-size: 24px;
  line-height: 33px;
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 0, 255, 1); 
}

.mentors__card-txt {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 195px;
  text-align: left;
  font-family: "Manrope";
  font-size: 11px;
  line-height: 15px;
  color: rgba(255, 255, 255, 1);
  margin: 15px 0;
}

.mentors__card-icon {
  width: 100%;
  max-width: 6.25rem;
  display: flex;
  justify-content: space-between;
}
/*===========================Portfolio=====================*/
.portfolio{
  width: 100%;
  min-height: 100vh;
}

.portfolio__info {
  width: 100%;
  height: 100%;
  min-height: 12.6875rem;
  background: url(../img/portfolio/dostijeniya_bg.png) no-repeat 100%;
  margin: 3.375rem 0 0 0;
}

.portfolio__info-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__info-all {
  width: 100%;
  max-width: 18rem;
  text-align: center;
}
.portfolio__info-top-number {
  font-family: 'Manrope';
  font-size: 48px;
  line-height: 66px;
  color: rgb(255, 255, 255);
}
.portfolio__info-top-txt {
  font-family: 'Manrope';
  font-size: 24px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}
.portfolio__info-fact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 289px;
  width: 100%;
  margin: 18px 0 0 0;
  color: rgb(250, 250, 252);
}
.portfolio__info-fact-logoImg {
  width: 100%;
  max-width: 35.0625rem;
  height: 100%;
  max-height: 8rem;
}
.portfolio__info-fact-txt{
  width: 100%;
  max-width: 34.8125rem;
  height: 100%;
  max-height: 12.375rem;
  margin: 0 0 0 7.6875rem;
}
.portfolio__firstName {
  font-family: 'Manrope';
  font-size: 64px;
  line-height: 87px;
  color:rgb(232, 237, 240);
  margin: 0 0 0 5.9375rem;
}
.portfolio__slider  {
  width: 100%;
  max-width: 80%;
  height: 200px;
  margin: 0 auto;
}
.portfolio__slider-item {
  max-width: 23.4375rem;
  height: 15.5rem;
  color: white;
  font-size: 14px;
  line-height: 19px;
  border-radius: 19px;
  background: #000000;
  border: 1px solid red;
}
.portfolio__slider-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.portfolio__slider-item-photo {
  width: 100%;
  max-width:22.5rem ;
  border-radius: 10px ;
}
.portfolio__slider-item-txt {
  font-size: 14px;
  line-height: 19px;
  padding: 0 15px;
}
/*====================Comments============================*/
.comments {
  min-height:100vh;
  width: 100%;
  background: rgba(230, 230, 230, 1);
}
.comments__partners {
  width: 100%;
}
.comments__partners-oneName {
  font-family: 'Manrope';
  font-size: 40px;
  line-height: 48px;
  color:rgba(0, 0, 0, 1);
  margin: 0 0 0 8.4375rem;
}
.comments__partners-icon {
  display: flex;
  justify-content: space-around;
  margin: 0 auto ;
  width: 80%;
  align-items: center;
}
  /*====*/
  .comments__partners-logotip{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.comments__partners-logotip:hover {
    filter:none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
}
.comments__firstName {
  font-family: 'Manrope';
  font-size: 64px;
  line-height: 77px;
  margin: 0 0 0 8.4375rem;
}
.comments__slider {
  margin: 20px auto;
  width: 80%;
  height: 100%;
  min-height: 400px;
  background: linear-gradient(180deg, #FBFBFB 0%, rgba(251, 251, 251, 0) 100%);
}
.comments__slider-item{
  max-width: 26.4375rem;
  height: 23.25rem;
  font-size: 13px;
  line-height: 19px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
  border-radius: 27px;
  border: 1px solid black;
}
.comments__slider-item-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.comments__slider-item-imgPhoto {
  border-radius: 50%;
}
.comments__slider-item-name {
  font-size: 16px;
  font-weight: 700;
}
.comments__slider-item-txt{
  font-size: 12px;
  line-height: 15px;
  padding: 0 10px;
  margin: 20px auto;
}
/*=========================Crew===================================*/
.crew {
  min-height: 100vh;
  width: 100%;
  background: url(../img/crew/crew_bg.png) no-repeat top/100%;
}
.crew__firstName {
  font-family: 'Manrope';
  font-size: 40px;
  line-height: 48px;
  color:rgb(232, 237, 240);
  margin: 0 0 0 8.125rem;
}
.crew__iconBlock {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.crew__iconBlock-center{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.crew__iconBlock-btm {
  width: 23%;
  margin: 60px 0 0 142px;
  display: flex;
  justify-content: space-between;
}
.crew__icon-card {
  width: 100%;
  max-width: 89px;
}
.crew__icon-img {
  border-radius: 50%;
}
.cerw__icon-txt {
  color: rgb(232, 237, 240);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

/*===================Footer==================*/
.footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 200px;
  margin: 17% 0 0 0;
}
.footer__left {
  width: 50%;
  height: 200px;
}
.footer__left-item {
  min-height: 180px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 0 125px;
}
.footer__left-txt {
  display: flex;
  font-size: 14px;
  line-height: 19px;
  color: rgb(95, 95, 95, 1);
}
.footer__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
}
.footer__right-top {
  display: flex;
  width: 350px;
  margin: 40px 0 0 0;
}
.footer__right-purpure {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  background: rgb(179, 21, 232, 1);
  margin: 5px 0 0 0;
}
.footer__right-purpure-mail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer__right-purpure-txt {
  font-size: 20px;
  line-height: 27px;
  color:rgb(255, 255, 255, 1);
}
.footer__right-crew {
  margin: 0 0 0 20px;
}
.footer__right-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px 0;
  width: 350px;
  height: 40px;
}
/*===================Adaptiv======================*/
@media (max-width:1272px) {
  .portfolio__firstName {
    margin: 0 0 20px 7.875rem;
    font-size: 55px;
  }
  .portfolio__slider {
    height: 17rem;
  }
  .footer__right {
    margin: 0 30px 0 0;
  }
}
@media (max-width:1024px) {
  .header {
    padding: 0 50px;
  }
  .ambassadors__scool {
    padding: 0 60px;
  }
  .programm__name {
    font-size: 50px;
  }
  .programm__right {
    margin: 0 0 40px 30px;
  }
  .comparsion-table {
    max-width: 69rem;
  }
  .double__btm {
    padding: 0 40px 0 0;
  }
  .portfolio__info-fact {
    padding: 0 25px 0 100px;
  }
  .crew {
    display: flex;
    flex-wrap: wrap;
  }
  .crew__iconBlock-btm{
    margin: 25px 0 0 100px;
  }
}
@media (max-width:960px) {
  .ambassadors__scool-logo {
    margin: 0 0 25px 55px;
  }
  .comparsion-table {
    margin: 0 0 0 10px;
  }
  .comparsion-table__head-cell {
    font-size: 33px;
    margin: 0 0 0 45px;
  }
  .metnors__card-all {
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    padding: 0 50px 0 200px;
  }
  .mentors__card {
    margin: 50px 0 0 0;
  }
  .mentors__card-icon {
    margin: 0  auto;
  }
  .crew {
    background: none;
  }
  .crew__iconBlock {
    flex-wrap: wrap;
    padding: 0 250px 0 0;
    margin: 10px 0 0 20%;
  }
  .crew__iconBlock-center {
    flex-wrap: wrap;
    padding: 0 250px 0 0;
    margin: 10px 0 0 20%;
  }
  .crew__iconBlock-btm {
    margin: 10px 0 0 20%;
  }
}
@media (max-width:768px) {
  .header__nav {
    flex-wrap: wrap;
    padding: 0 45px 0 0;
    margin: 0 0 0 50px;
  }
  .ambassadors__scool-logo {
    margin: 0 0 10px 120px;
  }
  .ambassadors__scool-btm {
    margin: 0 0 0 120px;
  }
  .programm__left-right-info{
    flex-direction: column;
  }
  .comparsion-table {
    margin: 65px 0 0 0;
  }
  .comparsion-table__head-cell {
    font-size: 25px;
    margin: 0 20px 0 0;
  }
  .comparsion-table__head-cell-name {
    font-size: 15px;
  }
  .comparsion-table__head-cell-nameA {
    font-size: 15px;
  }
  .comparsion-table__head-cell-nameP {
    font-size: 15px;
  }
  .comparsion-table__body-cell_name-nameProgramm {
    font-size: 13px;
    line-height: 15px;
  }
  .double__btm {
    padding: 0 40px 0 0;
  }
  .comparsion-table__footer-btmLeft{
    font-size: 15px;
  }
  .comparsion-table__footer-btmRight {
    font-size: 15px;
  }
  .comparsion-table__footer-bas {
    font-size: 20px;
  }
  .comparsion-table__footer-bas-sale {
    font-size: 20px;
  }
  .sale {
    font-size: 20px;
  }
  .sale_polosa {
    width: 50px;
  }
  .comparsion-table__footer-bas-saleTwo {
    font-size: 15px;
  }
  .saleTwo {
    margin: 0 0 0 25px;
    font-size: 15px;
  }
  .sale_polosaTwo {
    margin: -15px 0 0 20px;
  }
  .portfolio {
    margin: 40px 0 0 0;
  }
  .portfolio__info-fact-txt {
    display: none;
  }
  .portfolio__firstName {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .comments {
    margin: 6.25rem 0 0 0;
  }
  .comments__partners-oneName {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comments__partners-icon {
    flex-wrap: wrap;
  }
  .comments__partners-oneName {
    margin: 50px 0 0 0;
  }
  .crew__firstName {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .crew__iconBlock {
    padding: 0 350px 0 0;
  }
  .crew__iconBlock-center {
    padding: 0 350px 0 0;
  }
}
@media (max-width:560px) {
  .header {
    width: 100%;
    margin: 0 0 0 0;
    
  }
  .header__nav-item {
    flex-direction: column;
  }
}