*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color:rgba(0, 0, 0, 1);
}
.main__content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-around;
    height: 100%;
    max-height: 6.125rem;
    background: linear-gradient(0deg, #B315E8 -65.31%, #000000 50%);
}
.nav__logo-title {
    height: 100%;
    max-height: 6rem;
    width: 50%;
}

.header__nav {
    width: 100%;
    max-width: 50%;
    display: flex;
    align-items: center;
    max-width: 34.75rem;
}
.header__nav-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__nav-item-txt {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.header__nav-item-txt:hover {
    background: linear-gradient(113.79deg, #B315E8 16.71%, #8AE0E6 63.89%, #7FE3AF 110.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*============================================= Block #2 Scool ===============================*/

.ambassadors__scool{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url(../img/amb__scool/people_bg.svg) right/100% no-repeat;
}
.ambassadors__scool-block-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;
    width: 45%;
}
.ambassadors__scool-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ambassadors__scool-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 29.0625rem;
    margin: 0 20px 40px 0;
}
.ambassadors__scool-info-txt{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 2rem;
    line-height: 44px;
    color: rgb(232, 237, 240);
}
.ambassadors__scool-clic {
    margin: 0 180px 20px 0;
}
.ambassadors__scool-btm {
    width: 218px;
    height: 2.5rem;
    background: rgba(21, 156, 232, 1);
    border-radius: 0.3125rem;
    font-family: 'Manrope';
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.6875rem;
    color:rgb(232, 237, 240);
}
.ambassadors__scool-btm:hover {
    background: rgba(179, 21, 232, 1);
    color: white;
    transition-duration: 1s;
}

/*============================================= Block #3 Programm ===============================*/
.programm {
    width: 100%;
    min-height: 100vh;
    background: url(../img/programm/bg_programm.svg) center/100% no-repeat;
}
.programm__left-right-info {
    display: flex;
    justify-content: space-between;
    min-height: 25rem;
    margin: 3px 0 0 130px;
}
.programm__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.programm__name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-size: 64px;
    line-height: 87px;
    color: rgb(232, 237, 240);
}

.programm__left {
    display: flex;
}
.programm__img {
    width: 100%;
}
.programm__right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.programm__right-card {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 45% 45% 45%;
    grid-gap: 10px;
    width: 100%;
}
.programm__right-card-private {
    display: flex;
}
.programm__right-private-photo {
    width: 53px;
    height: 53px;
}
.programm__right-card-firstName{
    display: flex;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color:#FFFFFF;
}
.programm__right-card-txt {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color:#FFFFFF;
}
.training__packages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.training__packages-name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    color: rgba(255, 255, 255, 1);
}
.training__packages-name-txt {
    color:rgba(255, 255, 255, 1);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.training__packages-priceBook {
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color:rgba(255, 255, 255, 1);
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
}
.training__packages-priceBook-nobg {
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color:rgba(255, 255, 255, 1);
}
.training__packages__btm-all {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 31.25rem;
}
.training__packages__btm-all{
    display: flex;
    margin: 1.5625rem 0 0 0;
}
.training__packages__btm-left {
    width: 220px;
    height: 40px;
    background: rgba(203, 84, 242, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.training__packages__btm-ggdisk-left {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color:rgba(255, 255, 255, 1);
}
.training__packages__btm{
    display: flex;
    width: 220px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
} 

.training__packages__btm-ggdisk {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: rgba(21, 156, 232, 1);
    padding: 0 0 0 10px;
} 

.training__packages__btm-ggdisk-list {
    margin: 0 0 0 5px;
}
.training__packages-basAdvPrem {
    display: flex;
    width: 100%;
}
.training__packages-basAdvPrem-basic {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(50, 171, 180, 1);
    width: 190px;
    height: 465px;
    position: absolute;
    margin: -31% 0 0 51%;
    opacity: .8;
}
.tetsimg {
    width: 100%;
    max-width: 23px;
    height: 100%;
    max-height: 330px;
}

/*=================Mentors==============*/
.mentors { 
    width: 100%;
    min-height: 100vh;
}
.metnors__card-all {
    width: 100%;
    max-width: 12.8125rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;

}

.mentors__name {
    width: 100%;
    max-width: 37.5rem;
}
.mentors__name-first {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 64px;
    line-height: 87px;
    color: rgba(255, 255, 255, 1);
}
.mentors__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.mentors__card-photo {
    width: 100%;
    max-width: 10rem;
    height: 100%;
    max-height: 12.3125rem;
}
.mentors__card-name {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 0, 255, 1); ;
}
.mentors__card-txt {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color:rgba(255, 255, 255, 1);
    margin: 15px 0;
}

.mentors__card-icon {
    width: 100%;
    max-width: 6.25rem;
    display: flex;
    justify-content: space-between;
}
/*=====================TABLE=================*/
.comparsion-table{
    border-collapse: collapse;
    width: 100%;
    background: rgb(23, 49, 83);
    margin: 400px 0 0 0;
}
.comparsion-table__head-cell {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 40px;
    line-height: 55px;
    color: rgba(255, 255, 255, 1);
}
.comparsion-table__head-cell-name{
    text-align: center;
    background: url(../img/programm/basic__bg.svg) no-repeat 100%;
    opacity: 0.7;
    color:rgba(255, 255, 255, 1);
    font-family: 'Manrope';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.comparsion-table__head-cell-nameA {
    color:rgba(255, 255, 255, 1);
    font-family: 'Manrope';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    background: url(../img/programm/advanced_bg.svg) no-repeat 100%;
    opacity: 0.7;
}
.comparsion-table__head-cell-nameP {
    color:rgba(255, 255, 255, 1);
    font-family: 'Manrope';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    background: url(../img/programm/premium_bg.svg) no-repeat 100%;
    opacity: 0.7;
}
/* .comparsion-table__grey{
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
} */
.comparsion-table__grey td:nth-child(2n+1){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
}

.comparsion-table__body-cell_name-nameProgramm{
    padding: 10px 0;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color:rgba(255, 255, 255, 1);
}
.comparsion-table__body-cell-cell_checked{
    background: url(../img/crest.svg) no-repeat 50%;
}

.comparsion-table__body-cell-first__colon {
    background: url(../img/programm/basic__bg.svg) no-repeat 100%;
    text-align: center;
}

.double__btm {
    display: flex;
    justify-content: space-between;
}
.comparsion-table__footer-btmLeft {
    width: 220px;
    height: 40px;
    background: rgba(203, 84, 242, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 5px 0 0 0;
    cursor: pointer;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color:rgba(255, 255, 255, 1);
}
.comparsion-table__footer-btmRight {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(21, 156, 232, 1);
    padding: 10px 0 0 5px;
    width: 220px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.spanImg {
    margin: -5px 0 0 0;
}
.comparsion-table__footer-bas {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    color: rgba(255, 255, 255, 1);
}
.comparsion-table__footer-bas-sale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    color:rgb(252, 249, 249)
}
.sale {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
}
.sale_polosa {
    border: 1px solid #FF00FF;
    transform: rotate(-15deg);
    position:absolute;
    width: 60px;
    margin: 50px 0 0 0;
}
.comparsion-table__footer-bas-saleTwo {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    color:rgb(252, 249, 249);
    padding: 0 0 0 30px;
}
.saleTwo {
    display: flex;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 0 15px;
}
.sale_polosaTwo {
    border: 1px solid #FF00FF;
    transform: rotate(-15deg);
    position:absolute;
    width: 60px;
    margin: -15px 0 0 10px;
}