*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 1); 
}
.main__content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-around;
  height: 100%;
  min-height: 100px;
  background: linear-gradient(0deg, #b315e8 -65.31%, #000000 50%);
}
.nav__logo-title {
  margin: 25px 0 0 0;
  height: 100%;
  max-height: 6rem;
  width: 50%;
}

.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 34.75rem;
}
.header__nav-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__nav-item-txt {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.header__nav-item-txt:hover {
  background: linear-gradient(
    113.79deg,
    #b315e8 16.71%,
    #8ae0e6 63.89%,
    #7fe3af 110.7%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*============================================= Block #2 Scool ===============================*/

.ambassadors__scool {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: url(../img/amb__scool/people_bg.svg) right/100% no-repeat;
}
.ambassadors__scool-block-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
  width: 45%;
}
.ambassadors__scool-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ambassadors__scool-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 29.0625rem;
  margin: 0 20px 40px 0;
}
.ambassadors__scool-info-txt {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 2rem;
  line-height: 44px;
  color: rgb(232, 237, 240);
}
.ambassadors__scool-clic {
  margin: 0 180px 20px 0;
}
.ambassadors__scool-btm {
  width: 218px;
  height: 2.5rem;
  background: rgba(21, 156, 232, 1);
  border-radius: 0.3125rem;
  font-family: "Manrope";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6875rem;
  color: rgb(232, 237, 240);
}
.ambassadors__scool-btm:hover {
  background: rgba(179, 21, 232, 1);
  color: white;
  transition-duration: 1s;
}

/*============================================= Block #3 Programm ===============================*/
.programm {
  /* width: 100%; */
  min-height: 100vh;
  background: url(../img/programm/bg_programm.svg) repeat repeat;
}
.programm__left-right-info {
  display: flex;
  justify-content: space-between;
  min-height: 25rem;
  margin: 3px 0 0 130px;
}
.programm__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.programm__name {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 87px;
  color: rgb(232, 237, 240);
}
.programm__imgPeopl {
  width: 100%;
  max-width: 21.1875rem;
}

.programm__left {
  display: flex;
}
.programm__img {
  width: 100%;
}
.programm__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.programm__right-card {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 45% 45% 45%;
  grid-gap: 10px;
  width: 100%;
}
.programm__right-card-private {
  display: flex;
}
.programm__right-private-photo {
  width: 53px;
  height: 53px;
}
.programm__right-card-firstName {
  display: flex;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
.programm__right-card-txt {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}
/* table */
.comparsion-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 87rem;
  background: rgb(23, 49, 83);
  margin: 30px auto;
}

/* Каждой 2, 4 и 6 ячейке в строке задаю свой фон */
.comparsion-table td:nth-child(2),
.comparsion-table th:nth-child(2) {
  background: #32abb4;
}
.comparsion-table td:nth-child(4),
.comparsion-table th:nth-child(4) {
  background: #3096cf;
}
.comparsion-table td:nth-child(6),
.comparsion-table th:nth-child(6) {
  background: #6154f2;
}

/* задаю ширину пустой ячейки */
.comparsion-table__empty-cell {
  width: 36px;
}

.comparsion-table__head-cell {
  font-family: "Manrope";
  font-style: normal;
  font-size: 40px;
  line-height: 50px;
  color: rgba(255, 255, 255, 1);
  display: block;
  padding: 0 15rem 0 0;
}
.comparsion-table__head-cell-name {
  text-align: center;
  background: url(../img/programm/basic__bg.svg) no-repeat 100%;
  /* opacity: 0.7; */
  color: rgba(255, 255, 255, 1);
  font-family: "Manrope";
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  width: 11.5rem;
  text-transform: uppercase;
}
.comparsion-table__head-cell-nameA {
  color: rgba(255, 255, 255, 1);
  font-family: "Manrope";
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  background: url(../img/programm/advanced_bg.svg) no-repeat 100%;
  width: 11.5rem;
  /* opacity: 0.7; */
}
.comparsion-table__head-cell-nameP {
  color: rgba(255, 255, 255, 1);
  font-family: "Manrope";
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  background: url(../img/programm/premium_bg.svg) no-repeat 100%;
  width: 11.5rem;
  /* opacity: 0.7; */
}
/* .comparsion-table__grey{
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
} */
/* .comparsion-table__grey td:nth-child(2n+1){
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
} */

/* каждой нечетной строке в tbody задаю псевдоэлемент after,
 растягиваю его на всю строку через позиционирование 
 и задаю ему полупрозрачный белый фон  */

.comparsion-table__body tr:nth-child(odd) {
  position: relative;
}

.comparsion-table__body tr:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25)
  );
}

.comparsion-table__body-cell_name-nameProgramm {
  padding: 10px 0 10px 50px;
  margin: 0 auto;
  font-family: "Manrope";
  font-style: normal;
  font-size: 22px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}
.comparsion-table__body-cell-cell_checked {
  background: url(../img/crest.svg) no-repeat 50%;
}

.comparsion-table__body-cell-first__colon {
  /* background: url(../img/programm/basic__bg.svg) no-repeat 100%; */
  text-align: center;
}
.comparsion-table__body-cell-crest {
  text-align: center;
}

.double__btm {
  display: flex;
  justify-content: space-between;
}
.comparsion-table__footer-btmLeft {
  width: 220px;
  height: 40px;
  background: rgba(203, 84, 242, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 5px 0 0 0;
  cursor: pointer;
  font-family: "Manrope";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
}
.comparsion-table__footer-btmRight {
  font-family: "Manrope";
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: rgba(21, 156, 232, 1);
  padding: 10px 0 0 5px;
  width: 220px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.spanImg {
  margin: -5px 0 0 0;
}
.comparsion-table__footer-bas {
  font-family: "Manrope";
  font-style: normal;
  font-size: 36px;
  line-height: 49px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.comparsion-table__footer-bas-sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope";
  font-style: normal;
  font-size: 36px;
  line-height: 49px;
  color: rgb(252, 249, 249);
}
.sale {
  font-family: "Manrope";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
}
.sale_polosa {
  border: 1px solid #ff00ff;
  transform: rotate(-15deg);
  position: absolute;
  width: 60px;
  margin: 50px 0 0 0;
}
.comparsion-table__footer-bas-saleTwo {
  font-family: "Manrope";
  font-style: normal;
  font-size: 36px;
  line-height: 49px;
  color: rgb(252, 249, 249);
  text-align: center;
}
.saleTwo {
  display: flex;
  font-family: "Manrope";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 0 50px;
}
.sale_polosaTwo {
  border: 1px solid #ff00ff;
  transform: rotate(-15deg);
  position: absolute;
  width: 3.75rem;
  margin: -0.9375rem 0 0 2.6875rem;
}
.double__btm {
  width: 500px;
  margin: 0 0 0 3.125rem;
}

/*=================Mentors==============*/
.mentors {
  width: 100%;
  min-height: 100vh;
}

.mentors__name {
  width: 100%;
  max-width: 37.5rem;
}
.mentors__name-first {
  font-family: "Manrope";
  font-style: normal;
  font-size: 64px;
  line-height: 87px;
  color: rgba(255, 255, 255, 1);
  margin: 0 0 0 7.875rem;
}
.metnors__card-all {
  width: 100%;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.125rem 0 0 6.9375rem;
}
.mentors__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  min-height: 420px;
  width: 100%;
  max-width: 12.5rem;
}
.mentors__card-photo {
  width: 100%;
  max-width: 10rem;
  height: 100%;
  max-height: 12.3125rem;
}
.mentors__card-name {
  font-family: "Manrope";
  font-style: normal;
  font-size: 24px;
  line-height: 33px;
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 0, 255, 1); 
}

.mentors__card-txt {
  font-family: "Manrope";
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: rgba(255, 255, 255, 1);
  margin: 15px 0;
}

.mentors__card-icon {
  width: 100%;
  max-width: 6.25rem;
  display: flex;
  justify-content: space-between;
}
/*===========================Portfolio=====================*/
.portfolio{
  width: 100%;
  min-height: 100vh;
}
.portfolio__firstName {
  font-family: 'Manrope';
  font-style: normal;
  font-size: 64px;
  line-height: 87px;
  color:rgb(232, 237, 240);
  margin: 0 0 0 5.9375rem;
}
.portfolio__info {
  width: 100%;
  height: 100%;
  min-height: 12.6875rem;
  background: url(../img/portfolio/dostizheniya__bg.svg) no-repeat 100%;
  margin: 3.375rem 0 0 0;
}

.portfolio__info-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__info-all {
  width: 100%;
  max-width: 18rem;
  text-align: center;
}
.portfolio__info-top-number {
  font-family: 'Manrope';
  font-size: 48px;
  line-height: 66px;
  color: rgb(255, 255, 255);
}
.portfolio__info-top-txt {
  font-family: 'Manrope';
  font-size: 24px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}
.portfolio__info-fact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 289px;
  width: 100%;
  margin: 18px 0 0 0;
  color: rgb(250, 250, 252);
}
.portfolio__info-fact-logoImg {
  width: 100%;
  max-width: 35.0625rem;
  height: 100%;
  max-height: 8rem;
}
.portfolio__info-fact-txt{
  width: 100%;
  max-width: 34.8125rem;
  height: 100%;
  max-height: 12.375rem;
  margin: 0 0 0 7.6875rem;
}
.test{
  background:black;
}
.portfolio__slider  {
  background: aqua;
  width: 100%;
  max-width: 80%;
  height: 200px;
  margin: 0 auto;
}
.portfolio__slider-item {
  max-width: 90%;
  height: 100%;
  min-height: 200px;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 0 0 0 0;
  border: 1px solid red;
  background: #000000;
}
/*====================Comments============================*/
.comments {
  min-height:100vh;
  width: 100%;
  background: rgba(230, 230, 230, 1);
}
.comments__partners {
  width: 100%;
}
.comments__partners-oneName {
  font-family: 'Manrope';
  font-size: 40px;
  line-height: 48px;
  color:rgba(0, 0, 0, 1);
  margin: 0 0 0 8.4375rem;
}
.comments__partners-icon {
  display: flex;
  justify-content: space-around;
  margin: 0 auto ;
  width: 80%;
  align-items: center;
}
  /*====*/
  .comments__partners-logotip{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.comments__partners-logotip:hover {
    filter:none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
}
.comments__firstName {
  font-family: 'Manrope';
  font-size: 64px;
  line-height: 77px;
  margin: 0 0 0 8.4375rem;
}
/*=========================Crew===================================*/
.crew {
  min-height: 100vh;
  width: 100%;
  background: url(../img/crew/bg_crew.svg) no-repeat top/100%;
}
.crew__firstName {
  font-family: 'Manrope';
  font-size: 40px;
  line-height: 48px;
  color:rgb(232, 237, 240);
  margin: 0 0 0 8.125rem;
}
.crew__iconBlock {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.crew__iconBlock-center{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.crew__iconBlock-btm {
  width: 23%;
  margin: 60px 0 0 142px;
  display: flex;
  justify-content: space-between;
}
.crew__icon-card {
  width: 100%;
  max-width: 89px;
}
.crew__icon-img {
  border-radius: 50%;
}
.cerw__icon-txt {
  color: rgb(232, 237, 240);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.footer {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}